# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]

# SQLite
database/*.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Archivos temporales
*.tmp
ELEVENLABS_API_KEY.txt
EDSM_API_KEY.txt

# Compilación distribuible
build/
dist/
.runtime/

# Descargas externas duplicadas
knowledge/external/bioscan/*.zip

# Árbol del proyecto
estructura.txt

# OS
Thumbs.db
.DS_Store
